<section class="container-fluid content">
    <div class="row content-row">
      <div class="col-md-12 content-column">
        <div class="row content-inner-row">
          <!-- site-content -->
          <div class="col-md-9 col-lg-10 col-xs-12 content-inner-column">
            <div id="blog-content">
                {{{body}}}
            </div>
          </div>
          <!-- /site-content -->
          <!-- site-sidebar -->
          <div class="col-md-3 col-lg-2 hidden-xs hidden-sm content-inner-column">
              {{> sidebar}}
          </div>
          <!-- /site-sidebar -->
        </div>
      </div>
    </div>
</section>
