<!-- site-wide-body -->
<section class="container-fluid">
    <div class="row">
        <!-- site-content -->
        <div id="content-wrapper" class="col-md-9 animated fadeIn">
          <div id="content">
              {{{body}}}
          </div>
        </div>
        <!-- /site-content -->
        <!-- site-sidebar -->
        <div class="col-md-3 hidden-xs hidden-sm jngt-sidebar-outer-container">
            {{> sidebar}}
        </div>
        <!-- /site-sidebar -->
    </div>
</section>
