<section class="disclaimer-section">
  <div class="container-fluid">
    <div class="row">
        <!-- disclaimer note -->
        <div class="column col-md-12">
          <div id="disclaimer">
            {{! Add your disclaimer text here }}
            <strong>Disclaimer:</strong> All code, opinion and information on this blog are my personal view and do not represent or relate my past and / or current employer's view and / or business insides in any way.
          </div>
        </div>
        <!-- /disclaimer note -->
    </div>
  </div>
</footer>
