<span class="center-align"><strong>Disclaimer:</strong> All code, opinion and information on this blog are my personal view and do not represent or relate my past and / or current employer's view and / or business insides in any way.</span>
