{{! Needy Ghost Theme: Partials - Site wide disclaimer }}
{{> disclaimer}}
<div id="footer" class="">
  <footer class="default-footer">
    <div class="container-fluid">
      {{> footer-social}}
      {{> footer-credit}}
      {{> footer-copyright}}
    </div>
  </footer>
</div>
