<div class="footer-wrapper">
  {{! Needy Ghost Theme: Partials - Site wide disclaimer }}
  {{> disclaimer}}
  <footer>
    <div class="container-fluid">
      {{> footer-social}}
      {{> footer-credit}}
      {{> footer-copyright}}
    </div>
  </footer>
</div>
