{{! Theme credits - Do not remove or keep original contributer / creator's name - appreciate the efforts }}
<div class="row">
    <!-- footer-credits -->
    <div class="column col-md-12">
        <div class="credits">
            This blog is <a href="https://www.digitalocean.com/?refcode=8a6cc3b858ed" rel="external" class="link-theme-active-to-white">Haunted</a> with <a href="https://ghost.org" rel="external" class="link-theme-active-to-white">Ghost</a> and it looks <a href="https://github.com/jsinh/needy-ghost" rel="external" class="link-theme-active-to-white">needy</a> because I designed it while I was pooping.
        </div>
    </div>
    <!-- /footer-credits -->
</div>
