<div class="inner">
     <section class="poweredby">This blog is <a href="https://www.digitalocean.com/" rel="external">Haunted</a> with <a class="icon-ghost" href="https://ghost.org" rel="external">Ghost</a> and it looks <a href="https://github.com/jsinh/needy-ghost" rel="external">needy</a> because I designed it while I was pooping.</section>

     <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
</div>