<div class="row">
    <!-- footer-copyright -->
    <div class="column col-md-12">
        <div class="copyright">
          Copyright &copy; <a href="{{@blog.url}}" class="link-theme-active-to-white">{{@blog.title}}</a> 2011-{{date format="YYYY"}} &bull; All rights reserved.
        </div>
    </div>
    <!-- /footer-copyright -->
</div>
