<div class="inner">
	 {{! Theme credits - Do not remove - appreciate the efforts }}
     <section class="poweredby">This blog is <a href="#" rel="external">Hosted</a> with <a class="icon-ghost" href="https://ghost.org" rel="external">Ghost</a> and using <a href="https://github.com/jsinh/needy-ghost" rel="external">Needy</a> theme designed by <a href="https://github.com/jsinh" rel="external">Jsinh</a>.</section>

     <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
</div>
