<!-- Pre-loader -->
<div class="loader preloader-wrapper small" role="loader">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
<!-- /Pre-loader -->
<!-- Back to top link -->
<a href="#" class="btn-floating btn-small waves-effect waves-light deep-orange back-to-top" title="Back to top"><i class="mdi-hardware-keyboard-capslock small"></i></a>
<!-- /Back to top link -->
