<header>
  <div id="hdr-logo-title">
      <a href="{{@blog.url}}" title="Home" class="link-white-to-theme-active">
          <div id="hdr-logo">
            <img src="{{@blog.logo}}">
          </div>
          <div id="hdr-title">
            <h2>{{@blog.title}}</h2>
          </div>
      </a>
  </div>
  {{> navigation}}
</header>
