<!-- Sidebar content -->
<div class="col l3 hide-on-med-and-down center-align">
  <div class="sidebar">
    <!-- SIDEBAR CARD EXAMPLE - BEGINS -->
    <div class="card-panel grey lighten-5 center-align">
      **Sidebar card example one**
    </div>
    <!-- SIDEBAR CARD EXAMPLE - ENDS -->
    <div class="card-panel grey lighten-5">
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 1 - BEGINS -->
      <div class="row jngt-sidebar-space-top jngt-sidebar-space-bottom">
        <div class="col-md-12">
          **Sidebar card with rows example 1 - content**
        </div>
      </div>
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 1 - ENDS -->
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 2 - BEGINS -->
      <div class="row jngt-sidebar-space-top jngt-sidebar-space-bottom">
        <div class="col-md-12">
          **Sidebar card with rows example 2 - content**
        </div>
      </div>
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 2 - ENDS -->
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 3 - BEGINS -->
      <div class="row jngt-sidebar-space-top">
        <div class="col-md-12">
          **Sidebar card with rows example 3 - content**
        </div>
      </div>
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 3 - ENDS -->
    </div>
  </div>
</div>
<!-- /Sidebar content -->
