<!-- Sidebar content -->
<div class="col l3 hide-on-med-and-down center-align">
  <div class="sidebar card-panel grey lighten-5">
    <div class="center-align" style="background-color:black;">Ads goes here</div>
  </div>
</div>
<!-- /Sidebar content -->
