<div id="social">
    <ul>
        <!-- TODO: Social site linking pending -->
        <li><a href="https://www.youtube.com/user/jachauhan/" rel="external" class="youtube social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Tube ooon"></a></li>

        <li><a href="skype:jachauhan?chat" rel="external" class="skype social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Jibber Jabber on Skype"></a></li>

        <li><a href="http://www.linkedin.com/profile/view?id=160776884" rel="external" class="linkedin social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Professional and awwll"></a></li>

        <li><a href="https://www.facebook.com/Jsinh" rel="external" class="facebook social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="I won't bite or bore"></a></li>

        <li><a href="https://plus.google.com/+JaspalsinhChauhanthisdotlife?rel=author" rel="author external" class="googlep social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Plus or something"></a></li>

        <li><a href="https://twitter.com/jcdotlife" rel="external" class="twitter social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Trying with 150 character or less"></a></li>

        <li><a href="https://github.com/jsinh" rel="external" class="github social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="You might find some interesting loops to chew on"></a></li>

        <li><a href="http://life.jsinh.in/" rel="external" class="tumblr social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="I post every 5 years, promise"></a></li>

        <li><a href="{{@blog.url}}/rss/" rel="external" class="rss social-norm social-both hint--top hint--info hint--rounded hint--bounce" data-hint="Subscribe to my blah blah"></a></li>
    </ul>
</div>