<div id="social">
    <ul>
        <!-- TODO: Social site linking pending -->
        <li><a href="#" rel="external" class="youtube connect-common"><span class="tooltip">Tube ooon</span></a></li>

        <li><a href="#" rel="external" class="skype connect-common"><span class="tooltip">Jibber Jabber on Skype</span></a></li>

        <li><a href="#" rel="external" class="linkedin connect-common"><span class="tooltip">Professional and awwll</span></a></li>

        <li><a href="#" rel="external" class="facebook connect-common"><span class="tooltip">I won't bite or bore</span></a></li>

        <li><a href="#" rel="external" class="googlep connect-common"><span class="tooltip">Plus or something</span></a></li>

        <li><a href="#" rel="external" class="twitter connect-common"><span class="tooltip">Trying with 150 character or less</span></a></li>

        <li><a href="#" rel="external" class="github connect-common"><span class="tooltip">You might find some interesting loops to chew on</span></a></li>

        <li><a href="#" rel="external" class="dropbox connect-common"><span class="tooltip">I have no idea why I am sharing this</span></a></li>

        <li><a href="#" rel="external" class="tumblr connect-common"><span class="tooltip">I post every 5 years, promise</span></a></li>

        <li><a href="{{@blog.url}}/rss/" rel="external" class="rss connect-common"><span class="tooltip">Subscribe to my blah blah</span></a></li>
    </ul>
</div>