<div class="social">
    <ul>
    	{{! Replace # with your youtube URL }}
        <li><a href="#" rel="external" class="youtube social-norm social-both" title="Tube ooon"></a></li>

        {{! Replace # with your skype username }}
        <li><a href="skype:#?chat" rel="external" class="skype social-norm social-both" title="Jibber Jabber on Skype"></a></li>

        {{! Replace # with your linkedin URL }}
        <li><a href="#" rel="external" class="linkedin social-norm social-both" title="Professional and awwll"></a></li>

        {{! Replace # with your facebook URL }}
        <li><a href="#" rel="external" class="facebook social-norm social-both" title="I won't bite or bore"></a></li>

        {{! Replace # with your google plus URL }}
        <li><a href="#" rel="author external" class="googlep social-norm social-both" title="Plus or something"></a></li>

        {{! Replace # with your twitter URL }}
        <li><a href="#" rel="external" class="twitter social-norm social-both" title="Trying with 150 character or less"></a></li>

        {{! Replace # with your github URL }}
        <li><a href="#" rel="external" class="github social-norm social-both" title="You might find some interesting loops to chew on"></a></li>

		{{! Replace # with your tumblr URL }}
        <li><a href="#" rel="external" class="tumblr social-norm social-both" title="I post every 5 years, promise"></a></li>

        <li><a href="{{@blog.url}}/rss/" rel="external" class="rss social-norm social-both" title="Subscribe to my blah blah"></a></li>
    </ul>
</div>
