/*******************************************************************************
	@Author			Jaspalsinh Chauhan (Jsinh)
	@Website		http://www.jsinh.in
	@Last Update	12:10 AM Wednesday, March 25, 2015

	TABLE CONTENTS
	-------------------------------
    01. Header - Media query - Min 320px

    Note:
    Dimension Order: Top / Right / Bottom / Left
*******************************************************************************/

@media only screen and (min-width: 320px) and (max-width: 1024px) {

  /** 01. Header - Media query - Min 320px
  *****************************************************************************/

  #hdr-logo-title {
    float: none;
  }

  #hdr-logo-title a {
    margin: 0 auto;
  }

  #hdr-logo {
    float: none;
    width: 2.9em;
    margin: 0 auto;
  }

  #hdr-logo-title a img {
    width: 2.8em;
    margin: 10px 0 10px 0;
  }

  #hdr-title {
    float: none;
    margin: 0 auto;
  }

  #hdr-logo-title a span {
    font-size: 2.2em;
  }

  #hdr-navigation {
    float: none;
    margin: 0 auto;
  }

  #hdr-navigation nav {
    text-align:center;

    font-size: 1em;
  }

  #hdr-navigation nav ul {
    padding: 0;
    margin: 0;
  }

  #hdr-navigation nav li {
    display: block;
    margin: 3px 0 3px 0;
  }

  #hdr-navigation nav ul li a {
    padding: 0;
  }
}
